<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Bug:</strong>
  <%= @message.bug %>
</p>

<p>
  <strong>References:</strong>
  <%= @message.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @message.references %>
</p>

<p>
  <strong>References:</strong>
  <%= @message.references %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
