<!DOCTYPE html>
<html>
<head>
  <title>Fyregraph</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>


<div class="wrapper">


  <!-- BEGIN TOP NAV -->
  <%= render 'layouts/header' %>
  <!-- END TOP NAV -->
  
  
  <!-- BEGIN SIDEBAR LEFT -->
  <%= render 'layouts/sidebar' %>
  <!-- END SIDEBAR LEFT -->
  
  
  
  <!-- BEGIN SIDEBAR RIGHT HEADING -->
  <%= render 'layouts/sidebar_right' %>
  <!-- END SIDEBAR RIGHT -->
  
  
  
  <!-- BEGIN PAGE CONTENT -->
  <div class="page-content">
    <!-- <div class="container-fluid" style="max-width: 1000px"> -->
    <div class="container-fluid"></div>

      <%= yield%>
    
    </div><!-- /.container-fluid -->
  </div><!-- /.page-content -->


</div><!-- /.wrapper -->
      

</body>
</html>
